# Python Virtual Environments
.env/
venv/

# PyCharm IDE settings
.idea/

# VSCode settings
.vscode/

# PyInstaller build artifacts
build/
dist/
*.spec
*.exe
*.dll

# Log files
*.log

# Python Cache
__pycache__/
*.pyc
*.pyo

# Test and Coverage
.pytest_cache/

# Local Database Files
db.sqlite3

# Temporary files and logs
*.tmp
*.bak
